Repository savushkin-r-d/ptusa_main, pull requests merged in 2022-10, with the labels that each got.

#504 Switch on operation automatically
  PAC/common/PAC_info.cpp
  PAC/common/PAC_info.h
  PAC/common/i_tech_def.h
  PAC/common/mode_mngr.cpp
  PAC/common/mode_mngr.h
  PAC/common/tech_def.cpp
  common/lua_manager.cpp
  test/PAC_dev_lua_tests.cpp
  test/PAC_info_tests.cpp
  test/PAC_info_tests.h
  test/lua_manager_dependencies.cpp
  test/lua_manager_dependencies.h
  test/mode_mngr_tests.cpp
Labels: enhancement, safe to test

#480 Add Ethernet scales
  PAC/IoT/IOT_dev_lua.cpp
  PAC/IoT/iot_wages_eth.cpp
  PAC/IoT/iot_wages_eth.h
  PAC/common/PAC_dev.cpp
  PAC/common/PAC_dev.h
  PAC/common/PAC_dev_lua.cpp
  PAC/common/tcp_client.cpp
  PAC/common/tcp_client.h
  test/PAC_dev_tests.cpp
Labels: enhancement, safe to test

#508 [cmake] Change version
  CMakeLists.txt
Labels: documentation, safe to test

#509 Fix tests
  test/PAC_dev_tests.cpp
Labels: enhancement, safe to test

#510 Add download count badge
  readme.md
Labels: documentation
