Repository savushkin-r-d/ptusa_main, pull requests merged in 2023-10, with the labels that each got.

#621 Add "inverse GS" subtype
  PAC/common/PAC_dev.cpp
  PAC/common/PAC_dev.h
  PAC/common/PAC_dev_lua.cpp
  PAC/common/toloa++/pkg/PAC_dev.hh
  test/PAC_dev_tests.cpp
Labels: enhancement, safe to test

#622 [cmake] Add "axcf 3152" configurations
  CMakePresets.json
Labels: safe to test

#625 [config][cmake] Use path variable
  CMakePresets.json
Labels: safe to test

#626 [config][cmake] Change project version
  CMakeLists.txt
Labels: documentation, safe to test

#629 Fix jump to new operation state
  PAC/common/operation_mngr.cpp
  PAC/common/operation_mngr.h
  test/operation_mngr_tests.cpp
Labels: bugfix, safe to test

#627 [test] Fix Linux test
  test/l_tcp_cmctr_tests.cpp
Labels: bugfix, safe to test
