Repository savushkin-r-d/ptusa_main, pull requests merged in 2023-05, with the labels that each got.

#582 [doc] Edit block diagram
  readme.md
  russian_readme/readme.md
Labels: documentation, safe to test

#585 Fix "jump_if_action"
  PAC/common/operation_mngr.cpp
  test/operation_mngr_tests.cpp
Labels: bugfix, safe to test

#590 Fix "WT_ETH" wages
  PAC/IoT/iot_wages_eth.cpp
  PAC/IoT/iot_wages_eth.h
  PAC/common/PAC_dev.cpp
  PAC/common/PAC_dev.h
  test/PAC_dev_tests.cpp
Labels: bugfix, safe to test

#587 [cip] Using station params instead of constants
  PAC/common/cip_tech_def.cpp
  PAC/common/cip_tech_def.h
  test/PAC_dev_tests.cpp
  test/cip_tech_def_tests.cpp
  test/cip_tech_def_tests.h
Labels: enhancement, safe to test
