Repository savushkin-r-d/ptusa_main, pull requests merged in 2023-03, with the labels that each got.

#557 Add new control device "V_IOL_TERMINAL_MIXPROOF_DO3_DI2"
  PAC/common/PAC_dev.cpp
  PAC/common/PAC_dev.h
  test/PAC_dev_tests.cpp
Labels: enhancement, safe to test

#560 [config][cmake] Change version
  CMakeLists.txt
Labels: documentation, safe to test

#559 Added DEBUG_NO_IO_MODULES for wages_eth
  PAC/common/PAC_dev.cpp
Labels: bugfix, safe to test

#567 Fix terminal valves
  PAC/common/PAC_dev.cpp
  PAC/common/PAC_dev.h
  test/PAC_dev_tests.cpp
Labels: bugfix, safe to test

#572 [fix] Rinse volume and temperature in cold desinfection modes
  PAC/common/cip_tech_def.cpp
  test/cip_tech_def_tests.cpp
Labels: bugfix, safe to test

#571 [github actions] Update github action
  .github/workflows/cmake.yml
Labels: enhancement, documentation, safe to test

#573 [github actions] Fix github action
  .github/workflows/cmake.yml
Labels: bugfix

#575 Fix terminal valve processing
  PAC/common/PAC_dev.cpp
  test/PAC_dev_tests.cpp
Labels: bugfix, safe to test
