Repository savushkin-r-d/ptusa_main, pull requests merged in 2024-04, with the labels that each got.

#675 Create Dependabot
  .github/dependabot.yml
Labels: enhancement, documentation, safe to test

#684 [config][cmake] Install penlight 1.13 manually
  .github/workflows/cmake.yml
Labels: help wanted, bugfix, safe to test

#681 Process all error states for control device
  PAC/common/PAC_dev.cpp
  common/PAC-driver/g_errors.cpp
  common/PAC-driver/g_errors.h
  test/g_errors_tests.cpp
  test/g_errors_tests.h
Labels: enhancement, help wanted, bugfix, safe to test

#676 Linux TCP client Async Recive Fix
  PAC/linux/l_tcp_client.cpp
  test/l_tcp_cmctr_tests.cpp
Labels: safe to test

#691 Fix message when exceeding maximum step time
  PAC/common/operation_mngr.cpp
  PAC/common/operation_mngr.h
  PAC/common/tech_def.cpp
  test/operation_mngr_tests.cpp
Labels: help wanted, bugfix, safe to test

#692 Add max step time printing
  PAC/common/operation_mngr.cpp
  test/operation_mngr_tests.cpp
Labels: enhancement, safe to test

#693 Fix error message when it goes to RTN
  PAC/common/PAC_dev.cpp
  PAC/common/PAC_dev.h
  test/PAC_dev_tests.cpp
Labels: bugfix, safe to test
