Repository savushkin-r-d/ptusa_main, pull requests merged in 2024-03, with the labels that each got.

#661 Fix message buffer overflow error
  PAC/common/operation_mngr.cpp
  PAC/common/operation_mngr.h
  PAC/common/tech_def.cpp
  PAC/common/tech_def.h
  test/operation_mngr_tests.cpp
Labels: bugfix, safe to test

#664 [cip] Change circulation signal logic
  PAC/common/PAC_dev_lua.cpp
  PAC/common/cip_tech_def.cpp
  PAC/common/cip_tech_def.h
  PAC/common/toloa++/pkg/PAC_dev.hh
  test/cip_tech_def_tests.cpp
Labels: enhancement, bugfix, safe to test

#665 [config][cmake] Change version
  CMakeLists.txt
Labels: documentation, safe to test

#667 Add reverse seat connection logic switch for new AS-i mixproof valves
  PAC/common/PAC_dev.cpp
  PAC/common/PAC_dev.h
  test/PAC_dev_tests.cpp
Labels: enhancement, safe to test

#671 Add flow control
  PAC/common/PAC_dev.cpp
  test/PAC_dev_tests.cpp
Labels: enhancement, safe to test

#672 [config][cmake] Change version
  CMakeLists.txt
Labels: documentation, safe to test
