Repository savushkin-r-d/ptusa_main, pull requests merged in 2025-05, with the labels that each got.

#921 Compensates PID dt for large time deltas
  PAC/common/PID.cpp
  PAC/common/PID.h
Labels: bugfix, safe to test

#932 Increase max copy size variable
  PAC/common/device/base.h
Labels: enhancement, safe to test

#917 Adds control module for connection check
  PAC/common/PAC_dev_lua.cpp
  PAC/common/device/base.cpp
  PAC/common/device/base.h
  PAC/common/device/life_device.cpp
  PAC/common/device/life_device.h
  PAC/common/device/manager.cpp
  PAC/common/device/manager.h
  PAC/common/toloa++/pkg/PAC_dev.hh
  test/device/PAC_dev_tests.cpp
  test/device/test_life_device.cpp
  test/device/test_life_device.h
Labels: enhancement, safe to test

#922 Limits PID output
  PAC/common/PID.cpp
  test/PID_tests.cpp
Labels: bugfix, safe to test

#911 Модернизация алгоритма опроса узлов ввода/вывода
  PAC/common/bus_coupler_io.h
  PAC/common/sys/dtime.cpp
  PAC/common/sys/dtime.h
  PAC/common/tcp_cmctr.cpp
  PAC/common/tcp_cmctr.h
  PAC/common/uni_bus_coupler_io.cpp
  PAC/common/uni_bus_coupler_io.h
  PAC/linux/l_tcp_cmctr.cpp
  PAC/linux/l_tcp_cmctr.h
  PAC/win/w_tcp_cmctr.cpp
  PAC/win/w_tcp_cmctr.h
  test/main_cycle_test.cpp
  test/tcp_cmctr_tests.cpp
  test/uni_bus_coupler_io_tests.cpp
Labels: enhancement, safe to test

#937 [config][cmake] Change version to 2025.05.22
  CMakeLists.txt
Labels: documentation, safe to test
